{relx, [
        {release, {ubx, "0.1.0"}, [ubx]},
        {overlay, [{template, "config/sys.config", "releases/{{release_version}}/sys.config"}]},
        {dev_mode, true},
        {include_erts, false},
        {system_libs, false},
        {extended_start_script, true},
        {generate_start_script, true}
       ]}.

{deps, [
        {lager, "3.6.4"},
        {serial, ".*", {git, "https://github.com/Vagabond/erlang-serial", {branch, "master"}}},
        {erlang_ale, ".*", {git, "https://github.com/helium/erlang_ale", {branch, "master"}}},
        {ebus, ".*", {git, "https://github.com/helium/ebus", {branch, "master"}}}
       ]}.

{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps,all_deps}
           ]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

{shell, [{apps, [lager]}]}.

{profiles, [
            {test, [
                    {deps, [
                            cth_readable
                           ]},
                    {erl_opts, [{d, 'TEST'}]}
                   ]}
           ]}.
