{deps, [
        {erlang_ale, ".*", {git, "https://github.com/helium/erlang_ale", {branch, "master"}}}
       ]}.

{erl_opts, [
            debug_info,
            warnings_as_errors
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps,all_deps}
           ]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

{shell, [{apps, [lager]}]}.
